<% provide(:title, "Home") # %は式評価だけ %>
<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield(:title)%> | Ruby on Rails Tutorial Sample App
      <% # %=は式評価の結果をテンプレートに展開する %>
    </title>
  </head>
  <body>
    <h1>SamplePage</h1>
    <p>ほーむぺーじだよ</p>
  </body>
</html>
