<div class="center jumbtoron">
  <h1>SamplePage</h1>

  <h2>
    Rails Tutorialのサンプルページだよ
  </h2>
  <%= link_to "Sign up!", "#", class: "btn btn-lg btn-primary" %>
  <p>ほーむぺーじだよ</p>
</div>
<%= link_to image_tag("rails.png", alt: "Rails Tutorial"), "https://rubyonrails.org"  %>
<%= link_to image_tag("cat.png", alt: "Rails Tutorial"), "https://rubyonrails.org"  %>  
